.modal_container{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 0.8vw;
    user-select: none;
}
.modal_title_div{
    border-bottom: 1px #C85C3C solid;
    padding: 0.5vw;
    height: 10%;
    width: 100%;
}
.modal_title_div > label{
    font-size: 2.5vw;
    font-weight: bold;
}
.agree_content{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agree_content_div{
    width: 90%;
    height: 90%;
    border: 1px red solid;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: normal;
    white-space: pre-wrap;
    line-height: 1.8;
    padding: 1.5vw;
    font-size: 0.9vw;
}

.agree_content_div h2 {
    font-size: 1.3vw;
    font-weight: bold;
    margin-top: 2vw;
    margin-bottom: 1vw;
    color: #C85C3C;
    border-bottom: 2px solid #C85C3C;
    padding-bottom: 0.5vw;
}

.agree_content_div h3 {
    font-size: 1.1vw;
    font-weight: bold;
    margin-top: 1.5vw;
    margin-bottom: 0.8vw;
    color: #333;
}

.agree_content_div p {
    margin-bottom: 0.8vw;
    text-indent: 1.5vw;
}

.agree_content_div ul {
    margin-left: 2vw;
    margin-bottom: 1vw;
}

.agree_content_div li {
    margin-bottom: 0.5vw;
}
.btn_div{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 1.5vw;
    gap: 2vw;
}

.btn_div button:nth-child(1){
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.7vw 2.5vw;
    font-size: 1.5vw;
    color: white;
    border-radius: 0.5vw;
    cursor: pointer;
}

.btn_div button:nth-child(2){
    border: none;
    background-color: #C85C3C;
    padding: 0.7vw 2.5vw;
    font-size: 1.5vw;
    color: white;
    border-radius: 0.5vw;
    cursor: pointer;
}