.chatmodal_container{
    width: clamp(300px, 30vw, 2000px);
    height: 75vh;
    max-height: 80vh;
    background-color: #FAE7C3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    border-radius: clamp(2px, 0.7vw, 50px);
}
.chatarea_container{
    background-color: #B9C0FB;
    display: flex;
    flex-direction: column;
    gap: clamp(2px, 0.5vw, 30px);
    padding: clamp(2px, 1vw, 50px);
    position: relative;
    overflow-y: auto;
    border-radius: clamp(2px, 0.7vw, 50px) clamp(2px, 0.7vw, 50px) 0 0 ;
}
.chatarea_container::-webkit-scrollbar {
    width: clamp(2px, 0.6vw, 50px); /* 스크롤바가 차지하는 영역의 너비 */
}

/* 2. 스크롤바 트랙(배경)을 투명하게 설정 */
.chatarea_container::-webkit-scrollbar-track {
    background: transparent;
}

/* 3. 스크롤 막대 (움직이는 부분, Thumb) 설정 */
.chatarea_container::-webkit-scrollbar-thumb {
    background: #888; /* 막대 색상 */
    border-radius: 4px; /* 막대 끝을 둥글게 처리 */
}
.chatinput_container{
    display: flex;
    flex-direction: column;
    padding: clamp(1px, 1vw, 100px);
}
.chatinput_container form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatinput_box{
    background-color: #FAE7C3;
    border: 1px #C85C3C solid;
    width: 75%;
    max-width: 75%;
    font-size: clamp(0.1rem, calc(1rem + 0.1vw), 2rem);
    resize: none;
    overflow: hidden;
    align-content: center;
    padding: clamp(1px, 0.4vw, 50px);
    field-sizing: content; 
    word-break: break-all;
    max-height: clamp(50px, 5vw, 300px); /* 5줄 높이로 최대 제한 */
    overflow-y: auto; /* 최대 높이 초과 시 스크롤바가 생기도록 */
}
.chatsubmite_btn{
    border: none;
    padding: clamp(1px, 0.5vw, 100px) clamp(1px, 1vw, 100px);
    border-radius: clamp(1px, 0.3vw, 100px);
    background-color: #C85C3C;
    color: white;
    cursor: pointer;
}
.warnning_text{
    line-height: 2.5;
    color: rgba(0, 0, 0, 0.6);
    min-height: 25%;
}
.btn_container{
    display: flex;
    justify-content: space-between;
    margin-top: clamp(5px, 0.8vw, 100px);
    align-items: center;
}
.movebtn_div{
    display: flex;
    gap: clamp(1px, 0.5vw, 100px);
}
.movebtn_div button{
    border: none;
    background-color: #C85C3C;
    padding: clamp(3px, 0.4vw, 100px) clamp(3px, 0.8vw, 100px);
    color: white;
    border-radius: clamp(2px, 0.3vw, 50px);
    cursor: pointer;
}
.acceptbtn_div{
    display: flex;
    gap: clamp(1px, 0.5vw, 100px);
}
.acceptbtn_div button:nth-child(1){
    border: none;
    background-color: #CCCCCC;
    padding: clamp(3px, 0.4vw, 100px) clamp(3px, 0.8vw, 100px);
    color: white;
    border-radius: clamp(2px, 0.3vw, 50px);
    cursor: pointer;
}
.acceptbtn_div button:nth-child(2){
    border: none;
    background-color: #8793FF;
    padding: clamp(3px, 0.4vw, 100px) clamp(3px, 0.8vw, 100px);
    color: white;
    border-radius: clamp(2px, 0.3vw, 50px);
    cursor: pointer;
}
.deleteicon{
    font-size: clamp(0.3rem, calc(1rem + 1.2vw), 3rem);
    cursor: pointer;
}
.othertext_div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.userName{
    width: 100%;
    margin-left: 0.3vw;
    margin-bottom: 0.1vw;
}
.othertext{
    background-color: white;
    width: fit-content;
    padding: clamp(2px, 0.3vw, 50px) clamp(2px, 0.7vw, 50px);
    border-radius: clamp(2px, 1vw, 50px);
    display: flex;
    justify-content: center;
    align-items: center;  
    max-width: 80%;
    word-break: break-all;
}
.mytext_div{
    display: flex;
    justify-content: end;
    align-items: center;
}
.mytext{
    background-color: #A5FF74;
    width: fit-content;
    padding: clamp(2px, 0.3vw, 50px) clamp(2px, 0.7vw, 50px);
    border-radius: clamp(2px, 1vw, 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    word-break: break-all;
}
.accepttext_mine{
    background-color: #A5FF74;
    width: fit-content;
    padding: clamp(2px, 0.3vw, 50px) clamp(2px, 0.7vw, 50px);
    border-radius: clamp(2px, 1vw, 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8793FF;
}

.accepttext_other{
    background-color: white;
    width: fit-content;
    padding: clamp(2px, 0.3vw, 50px) clamp(2px, 0.7vw, 50px);
    border-radius: clamp(2px, 1vw, 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8793FF;
}
.exitmessage_div{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: clamp(2px, 0.5vw, 30px);
}
.exitmessage{
    background-color: #E6E4E4;
    padding: clamp(2px, 0.2vw, 30px) clamp(2px, 0.6vw, 30px);
    color: black;
    border-radius: clamp(2px, 1vw, 50px);
}