.toggle{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-bottom: 1px #d4a373 solid;
}
.toggle button{
    padding: 30px;
    width: 60%;
    color: black;
    background-color: #FAE7C3;
    border-style: none;
    cursor: pointer;
}

.toggle button:nth-child(1){
    border-radius: 10px 0px 0px 0px;
}
.toggle button:nth-child(2){
    border-radius: 0px 10px 0px 0px;
}
.toggle button:active{
  background-color: aqua;
}

/* FindAccount.module.css */
.toggle .active {
  background-color: #d4a373;
  color: white;
  font-weight: bold;
}


.find_div{
    display: flex;
    justify-content: center;
}

/* 아이디 폼 */
.find_form_id{
  background-color: #FAE7C3;
  padding: 40px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find_form_id input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 16px;
  border: 2px solid #d4a373;
  border-radius: 6px;
}

/* 비밀번호 폼*/
.find_form_pwd{
  background-color: #FAE7C3;
  padding: 40px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find_form_pwd input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 16px;
  border: 2px solid #d4a373;
  border-radius: 6px;
}

.find {
  width: 100%;
  padding: 10px;
  margin: 10px 20px;
  background-color: #d4a373;
  color: white;
  border: none;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

label{
  display: flex;
  flex-direction: column;
}

/* hover & active 효과 */
.find:hover {
  color: green;
  background-color: lightgreen;
}

.find:active {
  color: blue;
}

hr{
    width: 100%;
    border: 3px black solid; 
}

.input_group {
  display: flex;
  width: 100%;
  gap: 10px; /* 간격 조절 */
}

.submit_erea{
    display: flex;
    width: 100%;
    height: 200px;
    border: 2px black solid;
    justify-content: center;
    align-items: center;
}