.login_div{
    display: flex;
    justify-content: center;
    height: 80%; /* 화면 높이 */
}

.login_div > div{
    text-align: center;
}

.login_form{
  height: 450px;
  background-color: #FAE7C3;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_form input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 16px;
  border: 2px solid #d4a373;
  border-radius: 6px;
}

.login_btn {
  width: 100%;
  padding: 10px;
  margin: 10px 20px;
  background-color: #d4a373;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.register{
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  color: lightgreen;
  background-color: #fff;
  border-color: lightgreen;
  border: 1px lightgreen solid;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* hover & active 효과 */
.login_btn:hover {
  color: green;
  background-color: lightgreen;
}

.login_btn:active {
  color: blue;
}

.register:hover {
  color: green; 
  background-color: lightgreen;
}

.register:active {
  color: blue;
}
hr{
    width: 100%;
    border: 3px black solid; 
}