.main_container{
    display: flex;
    flex-direction: column;
    background-color: #FAE7C3;
    border-radius: clamp(5px, 1vw, 50px);
    width: 95%;
    padding-bottom: clamp(10px, 3vw, 100px);
}
.titlediv{
    position: relative;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #CCCCCC solid;
    align-items: center;
}
.title{
    font-size: 150%;
    font-weight: 600;
}
.subtitle_div{
    display: flex;
    gap: clamp(1px, 2vw, 30px);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: clamp(1px, 1vw, 30px);
}
.subtitle_div > div{
    width: fit-content;
}
.img_container{
    height: clamp(100px, 30vw, 2000px);
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    margin-top: clamp(10px, 1vw, 50px);
}
.icon1{
    position: absolute;
    font-size: clamp(0.3rem, calc(1rem + 4vw), 10rem);
    transform: rotate(-90deg);
    left: 0;
    cursor: pointer;
}
.icon2{
    position: absolute;
    font-size: clamp(0.3rem, calc(1rem + 4vw), 10rem);
    transform: rotate(90deg);
    right: 0;
    cursor: pointer;
}
.image_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_div img{
    width: 90%;
    height: 100%;
}
.content_div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: clamp(5px, 2vw, 100px);
    margin-top: clamp(2px, 5vw, 200px);
}
.content_title{
    font-size: clamp(0.3rem, calc(1rem + 0.5vw), 2rem);
    font-weight: bold;
}
.content_text{
    font-size: clamp(0.3rem, calc(1rem + 0.1vw), 2rem);
}
.btn_div{
    display: flex;
    justify-content: right;
    margin-top: clamp(5px, 7vw, 200px);
    margin-bottom: clamp(5px, 1vw, 80px);
    gap: clamp(5px, 6vw, 100px);
    padding: clamp(5px, 1vw, 100px) clamp(5px, 2vw, 100px);
    border-bottom: 1px #C85C3C solid;
}
.EDbtn_div{
    display: flex;
    justify-content: right;
    gap: clamp(5px, 2vw, 100px);
    padding: clamp(5px, 1vw, 100px) clamp(5px, 2vw, 100px);
}
.requestbtn, .editbtn{
    border: none;
    border-radius: clamp(1px, 0.3vw, 20px);
    background-color: rgba(201, 99, 35, 0.7);
    padding: clamp(3px, 0.7vw, 30px) clamp(3px, 1.5vw, 30px);
    font-size: clamp(0.3rem, calc(1rem + 0.1vw), 2rem);
    cursor: pointer;
    color: white;
}
.deletebtn{
    border: none;
    border-radius: clamp(1px, 0.3vw, 20px);
    background-color: #C85C3C;
    padding: clamp(3px, 0.7vw, 30px) clamp(3px, 1.5vw, 30px);
    font-size: clamp(0.3rem, calc(1rem + 0.1vw), 2rem);
    cursor: pointer;
    color: white;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    font-size: 18px;
    color: #666;
}