.recipe_board_detail{
    width: 95%;
    background-color: #FAE7C3;
    min-height: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titlediv{
    width: 100%;
    border-bottom: 1px #cccccc solid;
    padding: 15px 25px;
    font-size: 150%;
}
.recipe_board_container{
    width: 100%;
    margin-top: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.recipe_board_container form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.recipe_title{
    font-size: 150%;
}
.input_title{
    margin-top: 13px;
    width: 100%;
    font-size: 120%;
    padding: 10px;
    background-color: #FAE7C3;
    border: 2px #C85C3C solid;
    border-radius: 10px;
}
.input_content{
    margin-top: 13px;
    width: 100%;
    font-size: 120%;
    padding: 10px;
    background-color: #FAE7C3;
    border: 2px #C85C3C solid;
    border-radius: 10px;
    min-height: 300px;
    resize: none;
}

.search_form_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* 자식 요소(location_container, search_bar)를 세로로 배치 */
    gap: 20px; /* 드롭다운과 버튼 사이의 간격 */
}

.location_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.location_container select {
    flex: 1; /* 양쪽 select 박스가 공간을 균등하게 차지하도록 함 */
    padding: 10px;
    border: 1px solid #C85C3C;
    border-radius: 25px; /* 타원형 모양 */
    background-color: #FEF7E9;
    text-align: center;
}
.sido_button, .sigungu_button {
    flex: 1; /* 컨테이너의 공간을 1:1 비율로 나눠 가짐 */
    padding: 12px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #C85C3C;
    border-radius: 30px; /* 타원형 모양 */
    background-color: #FEF7E9;
}

.addbtn{
    display: flex;
    gap: 40px;
    justify-content: right;    
}
.addbtn button[type="button"]{
    border: none;
    font-size: 80%;
    padding: 10px 35px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: #C85C3C;
    color: #FAE7C3;
    cursor: pointer;
}


.formbtn{
    display: flex;
    gap: 40px;
    justify-content: right;
}
.formbtn button[type="submit"]{
    border: none;
    font-size: 130%;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #C85C3C;
    color: white;
    cursor: pointer;
}
.formbtn button[type="button"]{
    border: 1px #C85C3C solid;
    font-size: 130%;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #FAE7C3;
    color: black;
    cursor: pointer;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    font-size: 18px;
    color: #666;
    width: 100%;
}