.btn_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    font-size: clamp(0.2rem, calc(0.7rem + 0.1vw), 2rem);
}
.icon{
    font-size: clamp(0.3rem, calc(1rem + 0.7vw), 2rem);
    cursor: pointer;
}
.icon2{
    font-size: clamp(0.3rem, calc(1rem + 0.7vw), 2rem);
    color: white;
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
}

.apply{
    font-size: clamp(0.3rem, calc(1rem + 0.7vw), 2rem);
    color: black;
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
}

.btn_container{
    display: flex;
    gap: clamp(3px, 0.8vw, 30px);
    justify-content: right;
}