<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cucook.moc.user.dao.PasswordResetTokenDAO">

    <resultMap id="PasswordResetTokenMap" type="com.cucook.moc.user.vo.PasswordResetTokenVO">
        <id     property="resetTokenId" column="reset_token_id"/>
        <result property="userId"       column="user_id"/>
        <result property="resetToken"   column="reset_token"/>
        <result property="expireDate"   column="expire_date"/>
        <result property="usedYn"       column="used_yn"/>
        <result property="createdDate"  column="created_date"/>
        <result property="usedDate"     column="used_date"/>
    </resultMap>

    <insert id="insertToken" parameterType="com.cucook.moc.user.vo.PasswordResetTokenVO">
        <selectKey keyProperty="resetTokenId" resultType="long" order="BEFORE">
            SELECT seq_tb_password_reset_token.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO tb_password_reset_token (
        reset_token_id,
        user_id,
        reset_token,
        expire_date,
        used_yn,
        created_date
        ) VALUES (
        #{resetTokenId},
        #{userId},
        #{resetToken, jdbcType=VARCHAR},
        #{expireDate, jdbcType=TIMESTAMP},
        NVL(#{usedYn, jdbcType=VARCHAR}, 'N'),
        NVL(#{createdDate, jdbcType=TIMESTAMP}, SYSTIMESTAMP)
        )
    </insert>

    <select id="findByToken"
            parameterType="string"
            resultMap="PasswordResetTokenMap">
        SELECT
        reset_token_id,
        user_id,
        reset_token,
        expire_date,
        used_yn,
        created_date,
        used_date
        FROM tb_password_reset_token
        WHERE reset_token = #{resetToken}
    </select>

    <update id="markTokenUsed" parameterType="long">
        UPDATE tb_password_reset_token
        SET used_yn = 'Y',
        used_date = SYSTIMESTAMP
        WHERE reset_token_id = #{resetTokenId}
        AND used_yn = 'N'
    </update>

</mapper>
